@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap");

:root {
  --cor-primaria: #0056b3;
  --cor-secundaria: #355872;
  --cor-logo: #f7f8f0;
  --cor-destaque_textos: #9cd5ff;
  --cor-textos: #eeeeee;
  --cor-body: #f1e9e9;
  --cor-apresentacao: #09637e;
  --cor-header: #088395;
  --cor-destaque: #213448;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  background: var(--cor-body);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: var(--cor-header);
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--cor-secundaria);
  position: fixed;
  width: 100%;
  top: 0;
}

header a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: var(--cor-logo);
}

.header__menu {
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
}
.header__menu a:hover {
  color: var(--cor-secundaria);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--cor-secundaria);
}

.header__logo {
  font-size: 24px;
  font-weight: 900;
  margin: 0 350px 0 0;
  text-shadow: 0 0 3px black;
}
.header__logo:hover {
  color: var(--cor-secundaria);
}

.header__botao {
  display: flex;
  gap: 4px;
  margin-right: 50px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--cor-destaque);
}
.header__botao:hover {
  background-color: var(--cor-secundaria);
}
main {
  margin-top: 80px;
}
.apresentacao {
  padding: 60px 10%;
  max-width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--cor-destaque),
    var(--cor-apresentacao)
  );
  display: flex;
  justify-content: space-between;
}
.apresentacao__texto {
  margin-top: 40px;
}
.apresentacao__texto h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: var(--cor-destaque_textos);
  margin: 0 0 15px 0;
  font-weight: 700;
  width: 500px;
  line-height: 1.2;
}
.apresentacao__texto__branco {
  color: var(--cor-textos);
}
.apresentacao__texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--cor-textos);
  padding-bottom: 50px;
  width: 600px;
}

.apresentacao__texto a {
  padding: 15px;
  text-decoration: none;
  color: var(--cor-destaque);
  background-color: var(--cor-logo);
  border-radius: 30px;
}
.apresentacao__texto a:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-textos);
}
.apresentacao__imagem {
  display: block;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 20px 40px 0 30px;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--cor-destaque_textos);
  border-bottom-style: none;
  border-left-style: none;
  padding: 12px 12px 0 0;
}
.interacoes {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.interacoes h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--cor-destaque);
}
.interacoes__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.quadros {
  background-color: var(--cor-logo);
  border-radius: 10px;
  padding: 40px 20px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.096);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 250px;
  justify-content: space-between;
}
.icones {
  font-size: 3em;
  margin-bottom: 15px;
}
.quadros h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--cor-primaria);
  margin-bottom: 20px;
}
.button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s;
  background-color: var(--cor-primaria);
  color: var(--cor-textos);
}
.button:hover {
  background-color: var(--cor-destaque_textos);
}

.rodape {
  background-color: rgba(128, 128, 128, 0.186);
  color: var(--cor-secundaria);
  padding: 50px 0 20px;
}

.rodape__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.rodape__vertical {
  flex: 1;
  min-width: 250px;
  margin-bottom: 30px;
}

.rodape__vertical h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--cor-secundaria);
}

.rodape__vertical h4 {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.rodape__vertical h4::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--cor-destaque);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.rodape__vertical ul {
  list-style: none;
}

.rodape__vertical ul li {
  margin-bottom: 10px;
}

.rodape__vertical ul li a {
  color: var(--cor-secundaria);
  text-decoration: none;
  transition: 0.3s;
}

.rodape__vertical ul li a:hover {
  color: black;
  padding-left: 8px;
}

.social-links a {
  display: flex;
  color: var(--cor-secundaria);
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
  align-items: center;
}

.social-links a:hover {
  color: black;
}

.rodape__reservado {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #888;
}
.icon{
  width: 22px;
  height: auto;
}
